<%- include("partials/header"); %>
<%- include("partials/leftoptions"); %>
<div>
    <button type="button" class="btn btn-outline-primary"><a href="/settings/new_team">Add new teams</a></button>
</div>
<br>


<div style="margin-left: 30px; margin-right: 30px;">
    <div class="row"  style="display:flex;flex-wrap:wrap">
        <% (teams).forEach((team)=>{ %>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail" style="text-align: center;">
                <img src="<%= team.avatar %>" class="rounded img-fluid">
            <br>
                <a href="/team/<%= team.team_name %>" class="caption" style="font-weight: 700;"><span class="btn btn-sm btn-success"><%= team.team_name %></span></a>
            </div>
        </div>
        <% }) %>
    </div>
</div>


