<%- include("partials/header"); %>
<script>
    const username = "<%= user.username %>";
    const host = "<%= teamInfo.host %>"
</script>
<%- include("partials/leftoptions"); %>

<div class="row">
    
    <div class="col-2"> 
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <a href="#" class="nav_logo"></a>
                <div class="nav_list">
                    <img src="<%= teamInfo.avatar %>" width="200" height="200"><br><br>
                    <h2><b><%= teamInfo.team_name %></b></h2>
                    <ul>
                        <li><a class="active" href="#">Calls</a></li>
                        <li><a href="/chat/teamchat/<%= teamInfo.team_name %>/<%= teamInfo.ChatID %>">Chat</a></li>
                        <li><a href="/team/info/<%= teamInfo.team_name %>">Team Info</a></li>
                        <% if(user.username === teamInfo.host){ %>
                            <li><a href="/settings/manage_team/<%= teamInfo.team_name %>">Manage</a></li>
                        <% }else{ %>
                            <li onclick="alert('Only host can access this');" ><a href="#">Manage</a></li>
                        <% } %>
                        <li><a href="/team/leave_team/<%= teamInfo.team_name %>">Leave team</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>


    <div class="col-10"> 
    <div style="margin-top: 40px;">

        <h3>Ongoing Calls</h3>
        <% c=0 %>
        <div class="row" style="display:flex;flex-wrap:wrap">
            <% (calls).forEach((call)=>{ %>
                <% if(call.count>0){ %>
                    <div class="col-md-4">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Ongoing Call</div>
                            <div class="card-body">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" onclick="window.location.href='/team/<%= call.team_name %>/<%= call.callID %>'" class="btn btn-primary">Join Call</button>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        </button>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/chat/videoCallChat/<%= teamInfo.team_name %>/<%= call.callID %>">Chat</a>
                                        <a class="dropdown-item" href="/team/attndc/<%= teamInfo.team_name %>/<%= call.id %>">Attendance </a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text">Call Started by <%= call.host %></p>
                            </div>
                        </div>
                    </div>

                    <br>
                <% }else{c=c+1} %>
            <% }) %>
        </div>
        <% if(c==calls.length){ %>
        <p>No active calls</p>

        <% }  %>
        <br>
        <h3>Start new Call</h3>
        <a class="btn btn-info" href="/team/<%= teamInfo.team_name %>/start_call/<%= user.username %>">Click me</a>
        <br><br>
        
        <p id="old-calls"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
           Show old calls
        </button></p>

        <div class="collapse" id="collapseExample">
            
                <% c=0 %>
                <div class="row" style="display:flex;flex-wrap:wrap">
                    <% (calls).forEach((call)=>{ %>
                        <% if(call.count<=0){ %>
                            <% c=c+1 %>
                            <div class="col-md-4">
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Old Call</div>
                                    <div class="card-body">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/chat/videoCallChat/<%= teamInfo.team_name %>/<%= call.callID %>">Chat</a>
                                            <a class="dropdown-item" href="/team/attndc/<%= teamInfo.team_name %>/<%= call.id %>">Attendance </a>
                                            </div>
                                        </div>
                                        <br>
                                        <p class="card-text">Call Started by <%= call.host %></p>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                        <% } %>
                    <% }) %>
                    <% if(c==0){ %>
                        <p style="margin-left: 12px;">No calls done yet</p>
                    <% } %>
                </div>

            
        </div>
       
    </div>
    </div> 
</div>


</body>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/settings/manage_team/<%= teamInfo.team_name %>";
    };
    
    document.querySelector('#manage-btn').addEventListener('onclick', ()=>{
        alert('Only host can access this');
    });
</script>